body {
    background-color: lightyellow;
  }
  h1 {
      text-align: center;
      color: Black;
      height: auto;
  }
  img{
      border-radius: 8px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
  }
  h2{
      color: black;
      text-align: start;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;
  }
  form{
      color: Black;
      text-align: start;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;
  }
  table{ border-collapse: collapse;
    border-style: groove;
    border-color: black;
    width: 30%;
    color: Black;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
 }